/* .backgroundImage {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-image: url("../assets/we.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center 0%;
} */

.feedbackBgImage {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  /* background-image: url("../public/aboutus.jpeg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  /* filter: grayscale(100%); */
}

.feedbackBgImageOverlay {
  height: 80vh;
  width: 100vw;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: backdrop-grayscale(0);
  /* background: linear-gradient(to bottom,
                        rgba(0, 0, 0, 0.5) 0%,
                        rgba(0, 0, 0, 0.3) 100%); */
  background: linear-gradient(
    to bottom,
    rgba(8, 14, 25, 0.5) 0%,
    rgba(8, 14, 25, 0.5) 100%
  );
}

/* .aboutusImg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("../public/aboutus_low.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0%;
} */

.serviceImg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("https://cloudinary.hbs.edu/hbsit/image/upload/s--wx5D2ABw--/f_auto,c_fill,h_375,w_750,/v20200101/5393409F6FB391494111C5EC16653C89.jpg");
  /* background-image: url("../public/service_low.jpeg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0%;
}

/* .humanresourceImg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("../public/humanresource_low.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0%;
} */

/* .contactImg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("../public/header/low/contact_low.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0%;
} */

.headerImgOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.gradientImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.defaultImg {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  background-color: gray;
}
