@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Charis+SIL&family=Syne+Mono&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Source+Serif+Pro&display=swap");

body {
  font-family: "Charis SIL", serif;
  /* font-family: "EB Garamond", serif; */
  /* font-family: "Source Serif Pro", serif; */
}

.swiper-button-next {
  color: white !important;
}

.swiper-button-prev {
  color: white !important;
}

.swiper-pagination-bullet {
  background: white !important;
}
.recharts-wrapper {
  margin: 0 auto;
}
